body {
    margin: 0px;
    background-color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 10vh;
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

header p {
    font-weight: 900;
    font-size: 26px;
    margin: 0px;
    width: 30vw;
    display: flex;
    justify-content: left;
    padding-right: 10vw;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
    font-size: 20px;
    gap: 4vh;
    font-weight: 500;
    width: 30vw;
}

header a {
    text-decoration: none;
    color: #F9FAF8;
}

main {
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.hero .hero-text {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 60%;
    gap: 3vh;
}

.hero .hero-text h1 {
    color: #F9FAF8;
    font-size: 50px;
    font-weight: 900;
    margin: 0px;
}

.hero .hero-text p {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
}

.hero .hero-text .buton {
    width: 10vw;
    height: 5vh;
    background-color: #3882F6;
    border: 0px;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 20px;
}

.hero .hero-image {
    width: 40%;
    height: 50%;
    background-color: gray;
    margin-right: 4vw;
    background-image: url(img/lion-eating-sun.jpg);
    background-position: center;
    background-size: cover;
    color: #F9FAF8;
    display: flex;
    align-items: flex-end;
}

.hero .hero-image a {
    color: #F9FAF8;
    text-decoration: none;
    margin: 0px 3px;
}

.card-section {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    padding: 5vh 0px 0px 0px;
}

.card-section h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.card-section ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    gap: 4vw;
}

.card-section li {
    width: 22vh;
    font-size: 20px;
    color: #56575A;
}

.card-section .card-img {
    width: 22vh;
    height: 22vh;
    border: 4px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 5px;
    background-position: center;
    background-size: cover;
}

.card-container .programming {
    background-image: url(img/programming-by-clement-helardot.jpg); 
}

.card-container .books {
    background-image: url(img/bookshelf-by-inaki-del-olmo.jpg);
}

.card-container .writing {
    background-image: url(img/writing-by-aaron-burden.jpg);
}

.card-container .events {
    background-image: url(img/business-event-by-jonas-jacobsson.jpg);
}

.quote-of-the-day {
    width: 100%;
    height: 63vh;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-of-the-day .quote-box {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #1F2937;
    gap: 1vh;
}

.quote-of-the-day .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-of-the-day .quote-sayer {
    font-size: 24px;
    font-weight: 400;
}